doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title tablas
body
  table(border=1)
    tr
      th Nombre Completo
      th Telefono
      th direccion
    tr
      td Paola Rios 
      td 8751351
      td Calle 66 #9A -61
    tr
      td Santiago Alvares
      td 8774919
      td Cra 6A #10 -30
    tr
      td Yaneth Castaño
      td 8751313
      td Calle 66 #9B-61 