doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Estructura (CSS)
  link(href='hoja.css', rel='stylesheet')
 body
 .Encabezado
  h1 Minions
  
 .contenido
   img(src="http://www.waterfrontcinema.co.uk/wp-content/uploads/2015/06/minions.jpeg", width="360")
    
    
   
   