body {
  font-size: 16px;
  background: url("../imgs/hojas.jpg") no-repeat;
  background-size: cover;
  font-family: 'Covered By Your Grace', cursive;
}
a {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: #ec06fa;
  color: #fff;
  font-size: 50px;
}
form#democ1 {
  border-radius: 10px;
  display: block;
  height: 420px;
  width: 250px;
  margin: 50px;
  background-color: rgba(255,255,255,0.6);
}
form#democ1 select#s {
  display: block;
  border-radius: 10px;
  background-color: #ec06fa;
  color: #fff;
  margin-left: 20px;
}
form#democ1 button {
  height: 25px;
  width: 60px;
  display: block;
  margin: 20px auto;
}
form#democ1 input,
button {
  border-radius: 10px;
  background-color: #ec06fa;
  color: #fff;
}
form#democ1 input {
  color: #fff;
}
form input.user1 {
  background: transparent url("../imgs/user.png") no-repeat center right;
}
form input.candado1 {
  background: transparent url("../imgs/candado.png") no-repeat center right;
}
form#democ {
  border-radius: 10px;
  display: block;
  height: 230px;
  width: 250px;
  margin: -330px 400px;
  background-color: rgba(255,255,255,0.6);
}
form#democ input,
button {
  border-radius: 10px;
  background-color: #ec06fa;
  color: #fff;
}
form#democ a {
  margin-left: 20px;
  font: 16px Comic Sans MS;
  color: #800080;
}
form input {
  height: 25px;
  width: 200px;
  display: block;
  margin: 0px auto;
}
form input.user {
  background: transparent url("../imgs/user.png") no-repeat center right;
}
form input.candado {
  background: transparent url("../imgs/candado.png") no-repeat center right;
}
form#democ button {
  height: 25px;
  width: 50px;
  display: block;
  margin: 20px auto;
}
form#democ4 {
  display: none;
  height: 100px;
  width: 150px;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.6);
}
form#democ4:target {
  border-radius: 30px;
  display: block;
  height: 230px;
  width: 250px;
  margin: 100px 700px;
  background-color: rgba(255,255,255,0.6);
}
form#democ4 h1 {
  margin-left: 45px;
}
form#democ4 input.r {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ec06fa;
}
form#democ4 button.en {
text-decoration
  display: block;
  margin-left: 85px;
}
form#democ4 button.en a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  width: 50px;
  height: 20px;
}
form#democ5 {
  border-radius: 30px;
  display: none;
  height: 230px;
  width: 250px;
  margin: -100px 170px;
  background-color: rgba(255,255,255,0.6);
}
form#democ5:target {
  border-radius: 30px;
  display: block;
  height: 230px;
  width: 250px;
  margin: 100px 700px;
  background-color: rgba(255,255,255,0.6);
}
form#democ5 h1 {
  margin-left: 45px;
}
form#democ5 input.co {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ec06fa;
}
form#democ5 button.re {
  display: block;
  margin-left: 85px;
}
button.en a {
  background-color: #fff;
  color: #800080;
  font-size: 15px;
  text-decoration: none;
}
