body {
  font-size: 16px;
  background: url("../imgs/hojas.jpg") no-repeat;
  background-size: cover;
  font-family: 'Covered By Your Grace', cursive;
}
form#democ1 {
  border-radius: 10px;
  display: block;
  height: 280px;
  width: 250px;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.6);
}
form#democ1 button {
  height: 25px;
  width: 60px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #ec06fa;
  color: #fff;
}
form#democ1 button a {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
}
