@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

body
	font-size 16px
	background url(../imgs/hojas.jpg) no-repeat 
	background-size cover
	font-family: 'Covered By Your Grace', cursive;
a.a 
	width 50px
	height 30px
	border-radius 10px 
	background-color #EC06FA
	color white
	font-size 50px

form#democ1
	border-radius 10px
	display block
	height 230px
	width 250px
	margin 50px auto
	background-color rgba(255,255,255,0.6)
form#democ1 input, button
	border-radius 10px 
	background-color #EC06FA
	color white
	margin-left 20px
form#democ1 button
	margin-left 60px
	width 100px
form#democ1 select#s 
	display block
	border-radius 10px 
	background-color #EC06FA
	color white
	margin-left 20px
form#democ1 a
	margin-left 20px
	font 16px Comic Sans MS 
	color purple

