body
	font-size 16px
	background url(../imgs/hojas.jpg) no-repeat 
	background-size cover
	font-family: 'Covered By Your Grace', cursive;
a 
	width 20px
	height 30px
	border-radius 10px 
	background-color #EC06FA
	color white
	font-size 50px
.boton
	background-color #fff
	color black
	font-size 15px
	text-decoration none
	
	
table
	margin 100px auto
	width 900px
	height 400px
	background-color: #fff;
td
	text-align: center;