@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

body
	font-size 16px
	background url(../imgs/hojas.jpg) no-repeat 
	background-size cover
	font-family: 'Covered By Your Grace', cursive;
a 
	width 50px
	height 30px
	border-radius 10px 
	background-color #EC06FA
	color white
	font-size 50px

table
	width 900px
	height 400px
	background-color rgba(0,0,0,0.50)
	font-size 20px
	color white