doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Nosotros
    link(href='../estilos.css', rel='stylesheet')
  body
    .marcoppal
      .encabezado
        a(href='../index.html') Inicio
        a(href='javascript:;') Nosotros
        a(href='servicios.html') Servicios
        a(href='serviocios.html') Contacto 
      .contenido
        h1 Nosotros
        img(src='imagenes/nosotros.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat aperiam, deserunt consectetur rerum ea, laudantium quod hic facere dicta, itaque voluptate, officiis recusandae necessitatibus aspernatur. Culpa deleniti similique voluptas, qui blanditiis quos quis consequatur. Reprehenderit quidem magni, animi distinctio. Inventore alias vitae est, quos eveniet nemo dolor architecto assumenda accusantium. Temporibus eaque pariatur voluptate nisi itaque. Eligendi perferendis excepturi at eos, laudantium sed illo, blanditiis omnis incidunt beatae repellendus saepe. Excepturi illo in vitae dolores quos eos similique quibusdam est nulla quidem, praesentium voluptatem nesciunt ratione, voluptatum maiores cumque tempore omnis aspernatur temporibus velit ea qui voluptas et. Laudantium.
      .pie 
        p Todos los derechos reservados 2016