body
  background-color #ccc

section
  background-color #fff
  width 30px
  margin-left 300px 
  height 30px
  box-shadow  0px 0px 0px 1px #fff,
              33px 0px 0px 1px #fff,
              66px 0px 0px 1px #fff,
              99px 0px 0px 1px #fff,
              132px 0px 0px 1px #fff,
              165px 0px 0px 1px #000,
              198px 0px 0px 1px #000,
              232px 0px 0px 1px #000,
              266px 0px 0px 1px #000,
              299px 0px 0px 1px #000,
              332px 0px 0px 1px #000,
              365px 0px 0px 1px #fff,
              398px 0px 0px 1px #fff,
              431px 0px 0px 1px #fff,
              464px 0px 0px 1px #fff,
              497px 0px 0px 1px #fff,
              
              0px 33px 0px 1px #fff,
              33px 33px 0px 1px #fff,
              66px 33px 0px 1px #fff,
              99px 33px 0px 1px #000,
              132px 33px 0px 1px #000,
              165px 33px 0px 1px #000,
              198px 33px 0px 1px #fff,
              232px 33px 0px 1px #9103FF,
              266px 33px 0px 1px #9103FF,
              299px 33px 0px 1px #fff,
              332px 33px 0px 1px #000,
              365px 33px 0px 1px #000,
              398px 33px 0px 1px #000,
              431px 33px 0px 1px #fff,
              464px 33px 0px 1px #fff,
              497px 33px 0px 1px #fff,
              
              0px 66px 0px 1px #fff,
              33px 66px 0px 1px #fff,
              66px 66px 0px 1px #000,
              99px 66px 0px 1px #000,
              132px 66px 0px 1px #fff,
              165px 66px 0px 1px #fff,
              198px 66px 0px 1px #fff,
              232px 66px 0px 1px #9103FF,
              266px 66px 0px 1px #9103FF,
              299px 66px 0px 1px #fff,
              332px 66px 0px 1px #fff,
              365px 66px 0px 1px #fff,
              398px 66px 0px 1px #000,
              431px 66px 0px 1px #000,
              464px 66px 0px 1px #fff,
              497px 66px 0px 1px #fff,
              
              0px 99px 0px 1px #fff,
              33px 99px 0px 1px #000,
              66px 99px 0px 1px #000,
              99px 99px 0px 1px #9103FF,
              132px 99px 0px 1px #fff,
              165px 99px 0px 1px #fff,
              198px 99px 0px 1px #9103FF,
              232px 99px 0px 1px #9103FF,
              266px 99px 0px 1px #9103FF,
              299px 99px 0px 1px #9103FF,
              332px 99px 0px 1px #fff,
              365px 99px 0px 1px #fff,
              398px 99px 0px 1px #9103FF,
              431px 99px 0px 1px #000,
              464px 99px 0px 1px #000,
              497px 99px 0px 1px #fff,
              
              0px 132px 0px 1px #fff,
              33px 132px 0px 1px #000,
              66px 132px 0px 1px #fff,
              99px 132px 0px 1px #9103FF,
              132px 132px 0px 1px #9103FF,
              165px 132px 0px 1px #9103FF,
              198px 132px 0px 1px #9103FF,
              232px 132px 0px 1px #9103FF,
              266px 132px 0px 1px #9103FF,
              299px 132px 0px 1px #9103FF,
              332px 132px 0px 1px #9103FF,
              365px 132px 0px 1px #9103FF,
              398px 132px 0px 1px #9103FF,
              431px 132px 0px 1px #fff,
              464px 132px 0px 1px #000,
              497px 132px 0px 1px #fff,
              
              0px 165px 0px 1px #000,
              33px 165px 0px 1px #000,
              66px 165px 0px 1px #fff,
              99px 165px 0px 1px #fff,
              132px 165px 0px 1px #9103FF,
              165px 165px 0px 1px #9103FF,
              198px 165px 0px 1px #fff,
              232px 165px 0px 1px #fff,
              266px 165px 0px 1px #fff,
              299px 165px 0px 1px #fff,
              332px 165px 0px 1px #9103FF,
              365px 165px 0px 1px #9103FF,
              398px 165px 0px 1px #fff,
              431px 165px 0px 1px #fff,
              464px 165px 0px 1px #000,
              497px 165px 0px 1px #000,
              
              0px 198px 0px 1px #000,
              33px 198px 0px 1px #fff,
              66px 198px 0px 1px #fff,
              99px 198px 0px 1px #fff,
              132px 198px 0px 1px #9103FF,
              165px 198px 0px 1px #fff,
              198px 198px 0px 1px #fff,
              232px 198px 0px 1px #fff,
              266px 198px 0px 1px #fff,
              299px 198px 0px 1px #fff,
              332px 198px 0px 1px #fff,
              365px 198px 0px 1px #9103FF,
              398px 198px 0px 1px #fff,
              431px 198px 0px 1px #fff,
              464px 198px 0px 1px #fff,
              497px 198px 0px 1px #000,
              
              0px 232px 0px 1px #000,
              33px 232px 0px 1px #fff,
              66px 232px 0px 1px #fff,
              99px 232px 0px 1px #fff,
              132px 232px 0px 1px #9103FF,
              165px 232px 0px 1px #fff,
              198px 232px 0px 1px #fff,
              232px 232px 0px 1px #fff,
              266px 232px 0px 1px #fff,
              299px 232px 0px 1px #fff,
              332px 232px 0px 1px #fff,
              365px 232px 0px 1px #9103FF,
              398px 232px 0px 1px #fff,
              431px 232px 0px 1px #fff,
              464px 232px 0px 1px #fff,
              497px 232px 0px 1px #000,
              
              0px 266px 0px 1px #000,
              33px 266px 0px 1px #fff,
              66px 266px 0px 1px #fff,
              99px 266px 0px 1px #9103FF,
              132px 266px 0px 1px #9103FF,
              165px 266px 0px 1px #fff,
              198px 266px 0px 1px #fff,
              232px 266px 0px 1px #fff,
              266px 266px 0px 1px #fff,
              299px 266px 0px 1px #fff,
              332px 266px 0px 1px #fff,
              365px 266px 0px 1px #9103FF,
              398px 266px 0px 1px #9103FF,
              431px 266px 0px 1px #fff,
              464px 266px 0px 1px #fff,
              497px 266px 0px 1px #000,
              
              0px 299px 0px 1px #000,
              33px 299px 0px 1px #9103FF,
              66px 299px 0px 1px #9103FF,
              99px 299px 0px 1px #9103FF,
              132px 299px 0px 1px #9103FF,
              165px 299px 0px 1px #9103FF,
              198px 299px 0px 1px #fff,
              232px 299px 0px 1px #fff,
              266px 299px 0px 1px #fff,
              299px 299px 0px 1px #fff,
              332px 299px 0px 1px #9103FF,
              365px 299px 0px 1px #9103FF,
              398px 299px 0px 1px #9103FF,
              431px 299px 0px 1px #9103FF,
              464px 299px 0px 1px #9103FF,
              497px 299px 0px 1px #000,
              
              0px 332px 0px 1px #000,
              33px 332px 0px 1px #9103FF,
              66px 332px 0px 1px #9103FF,
              99px 332px 0px 1px #000,
              132px 332px 0px 1px #000,
              165px 332px 0px 1px #000,
              198px 332px 0px 1px #000,
              232px 332px 0px 1px #000,
              266px 332px 0px 1px #000,
              299px 332px 0px 1px #000,
              332px 332px 0px 1px #000,
              365px 332px 0px 1px #000,
              398px 332px 0px 1px #000,
              431px 332px 0px 1px #9103FF,
              464px 332px 0px 1px #9103FF,
              497px 332px 0px 1px #000,
              
              0px 365px 0px 1px #000,
              33px 365px 0px 1px #000,
              66px 365px 0px 1px #000,
              99px 365px 0px 1px #000,
              132px 365px 0px 1px #fff,
              165px 365px 0px 1px #fff,
              198px 365px 0px 1px #000,
              232px 365px 0px 1px #fff,
              266px 365px 0px 1px #fff,
              299px 365px 0px 1px #000,
              332px 365px 0px 1px #fff,
              365px 365px 0px 1px #fff,
              398px 365px 0px 1px #000,
              431px 365px 0px 1px #000,
              464px 365px 0px 1px #000,
              497px 365px 0px 1px #000,
              
               0px 398px 0px 1px #fff,
              33px 398px 0px 1px #000,
              66px 398px 0px 1px #000,
              99px 398px 0px 1px #fff,
              132px 398px 0px 1px #fff,
              165px 398px 0px 1px #fff,
              198px 398px 0px 1px #000,
              232px 398px 0px 1px #fff,
              266px 398px 0px 1px #fff,
              299px 398px 0px 1px #000,
              332px 398px 0px 1px #fff,
              365px 398px 0px 1px #fff,
              398px 398px 0px 1px #fff,
              431px 398px 0px 1px #000,
              464px 398px 0px 1px #000,
              497px 398px 0px 1px #fff,
              
              
               0px 431px 0px 1px #fff,
              33px 431px 0px 1px #fff,
              66px 431px 0px 1px #000,
              99px 431px 0px 1px #fff,
              132px 431px 0px 1px #fff,
              165px 431px 0px 1px #fff,
              198px 431px 0px 1px #fff,
              232px 431px 0px 1px #fff,
              266px 431px 0px 1px #fff,
              299px 431px 0px 1px #fff,
              332px 431px 0px 1px #fff,
              365px 431px 0px 1px #fff,
              398px 431px 0px 1px #fff,
              431px 431px 0px 1px #000,
              464px 431px 0px 1px #fff,
              497px 431px 0px 1px #fff,
              
              0px 464px 0px 1px #fff,
              33px 464px 0px 1px #fff,
              66px 464px 0px 1px #000,
              99px 464px 0px 1px #000,
              132px 464px 0px 1px #fff,
              165px 464px 0px 1px #fff,
              198px 464px 0px 1px #fff,
              232px 464px 0px 1px #fff,
              266px 464px 0px 1px #fff,
              299px 464px 0px 1px #fff,
              332px 464px 0px 1px #fff,
              365px 464px 0px 1px #fff,
              398px 464px 0px 1px #000,
              431px 464px 0px 1px #000,
              464px 464px 0px 1px #fff,
              497px 464px 0px 1px #fff,
              
              0px 497px 0px 1px #fff,
              33px 497px 0px 1px #fff,
              66px 497px 0px 1px #fff,
              99px 497px 0px 1px #000,
              132px 497px 0px 1px #000,
              165px 497px 0px 1px #000,
              198px 497px 0px 1px #000,
              232px 497px 0px 1px #000,
              266px 497px 0px 1px #000,
              299px 497px 0px 1px #000,
              332px 497px 0px 1px #000,
              365px 497px 0px 1px #000,
              398px 497px 0px 1px #000,
              431px 497px 0px 1px #fff,
              464px 497px 0px 1px #fff,
              497px 497px 0px 1px #fff
              
              
             
              
              
              
              
              
              

   