section 
	background #fce9c3 url(../imgs/estrella.jpg) no-repeat 
	height 100px
	width 400px
	margin 20px auto
	padding 50px
	border 50px solid transparent
.corte1
	background-origin border-box
	
.corte2
	background-origin padding-box
	h2 	
		color #5400FF
	
.corte3
	background-origin content-box
	h2 
		color #5400FF
	