body
	font 16px Arial

section.sombras
	background-color #fff
	margin 20px auto
	padding 20px
	width 600px
#txt1
	text-shadow 0px 0px 8px #000 

#txt2
	text-shadow 2px 2px 1px #A800FF

#txt3
	text-shadow 0px 8px 8px #1004FF

p
	color #A800FF
	text-shadow 0px 0px 2px #02FEFB