body
	background-color #A000FC
section.principal
	background-color #FB0360
	margin 50px auto
	padding 20px
	width 680px
h1
	color #03BFF5
	font-family 'Conv_Transformers'
	font-size 3.6em
	text-align center
	
p
	font-family 'Emily'
	font-size 2.4em
	color #5E276A
	line-height 1em
	text-align justify