

section.animacion
	animation 0.5ms animAnimacion infinite alternate

@keyframes animAnimacion
	from 
		transform translateX(0px)
	to 
		transform translateX(10px)


div.forma
	background radial-gradient(#0C06FE, #DC03FC)
	border-radius 50%
	height 200px
	margin 200px auto
	width 200px
	animation 0.5s animForma infinite ease-in-out alternate
	
@keyframes animForma
	from 
		transform translateY(0px)
	to 
		transform translateY(-160px)