section
	background-color #FE03CC
	height 500px
	width 650px
	margin 40px auto
	padding 20px
	border-radius 5px
	
	
nav  
	background-color #A704FC
	height 80px
	margin 0px auto
	border-radius 5px
	

nav li 
	background-color #07F8DE
	display inline-block
	text-align center
	height 80px
	width 110px
	margin-left 40px
	border-radius 5px
	border-radius 20% 80% 20% 80%
	transition all 1s

nav li:hover
	transition all 1s
	border-radius 80% 20% 80% 20%
	
a
	text-decoration none

a span
	font-family Comic Sans MS
	display block
	text-align center
	background-color #B266C5
	position relative
	top 52px
	border-radius 80% 20% 80% 20%
	transition all 1s
span:hover
	transition all 1s
	top 0px
	left 20px
li:hover
	background-color #C46BDE
	transition all 1s
li:hover span
	transition all 1s
	transform translate(-50px)

article
	height 400px
	width 500px
	background-color #7703FA
	margin 20px auto
	border-radius 80% 20% 80% 20%
	transition all 1s

article:hover
	transition all 1s
	background-color #451D81
	
article div
	background  #20FD03 url(../imgs/minion4.jpg) no-repeat center top
	height 300px
	width 300px
	border-radius 80% 20% 80% 20%
	position relative
	left 100px
	top 50px
	background-size contain
	transition all 1s ease-out
	
	
article div:hover
	-webkit-transform rotate(180deg) scale(1)
	transition all 1s ease-out
	background-color #1EE3AE


	