section.animacion
	animation 3s animAnimacion infinite 

@keyframes animAnimacion
	0%
		transform translateX(0px) translateY(0px)
	25% 
		transform translateX(500px) translateY(0px)
	50%
		transform translateX(500px) translateY(500px)
	75%
		transform translateX(0px) translateY(500px)
	
section
	background radial-gradient(#0C06FE, #DC03FC)
	border-radius 50%
	height 200px
	width 200px
	animation 0.5s animForma infinite ease-in-out alternate