doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Mi primer documento HTML 5
body
  h1 Mi primero documento HTML 5
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptas ad sapiente dolore earum eos perspiciatis eligendi nesciunt reprehenderit eum ipsum consequatur corporis quam, voluptate beatae veniam facilis pariatur, consectetur, quia sint. Natus veniam dolorem laudantium soluta aliquam, debitis unde labore harum, ea aut, provident voluptates amet suscipit. Ipsum sit atque eum molestiae est, adipisci, distinctio expedita, id rerum incidunt quo. Beatae tenetur inventore nam at possimus quia ut optio libero, iure illo alias atque eligendi quam voluptate deleniti eaque reiciendis esse architecto enim accusamus doloremque doloribus maiores suscipit. Odit vel est dolorum dolores at reiciendis reprehenderit. Alias sapiente, iure!