section {
  margin: 20px auto;
  width: 100%;
}
article {
  text-align: center;
}
div {
  background-color: #c0c0c0;
  display: inline-block;
  height: 150px;
  margin: 0px 0px -4px -4px;
  width: 180px;
  font-size: 3em;
}
.maroon {
  background-color: #800000;
  color: #fff;
}
.red {
  background-color: #f00;
}
.orange {
  background-color: #ffa500;
}
.yellow {
  background-color: #ff0;
}
.olive {
  background-color: #808000;
  color: #fff;
}
.purple {
  background-color: #800080;
  color: #fff;
}
.fuchsia {
  background-color: #f0f;
}
.white {
  background-color: #fff;
}
.lime {
  background-color: #0f0;
}
.green {
  background-color: #008000;
  color: #fff;
}
.navy {
  background-color: #000080;
  color: #fff;
}
.blue {
  background-color: #00f;
}
.aqua {
  background-color: #0ff;
}
.teal {
  background-color: #008080;
  color: #fff;
}
.black {
  background-color: #000;
  color: #fff;
}
.silver {
  background-color: #c0c0c0;
}
.gray {
  background-color: #808080;
  color: #fff;
}
