section {
  background-color: #fc00a0;
  border: 4px solid #04d2fe;
  height: 300px;
  width: 400px;
  padding-top: 50px;
  padding-rigth: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
section span {
  background-color: #04fe10;
  border: 4px dotted #006bfc;
  height: 100px;
  width: 200px;
  padding: 10px;
}
