article {
  border-color: #0df6c2;
  border-style: solid;
  height: 250px;
  width: 350px;
}
article.box1 {
/* Ancho de Bordes - Forma Larga*/
  border-top-width: thin;
  border-right-width: 20px;
  border-bottom-width: thick;
  border-left-width: medium;
/* Ancho de Bordes - Forma Corta */
  border-width: thin 20px thick medium;
}
article.box2 {
/* Colores de Bordes - Forma larga */
  border-top-width: #18fc00;
  border-right-width: #db07f4;
  border-bottom-width: #e9fe03;
  border-left-width: #085cf6;
/* Colores de Bordes - Forma Corta */
  border-color: #18fc00 #db07f4 #e9fe03 #085cf6;
}
article.box3 {
/* Estilos Bordes - Forma larga */
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: dashed;
  border-left-style: double;
/* Estilos Bordes - Forma Corto */
  border-style: solid dotted dashed double;
}
article.box4 {
/*Bordes - shorthand */
  border: 10px dotted #5e2598;
}
