body {
  background-color: #7100fc;
  font: 16px fantasy;
}
section {
  background-color: #06f8c8;
  margin: 20px 40px auto;
  width: 300px;
  padding: 20px;
  display: inline-block;
}
ul,
ol {
  border: 2px dotted #01adfd;
  display: inline-block;
  margin: 10px;
  vertical-aling: top;
}
ul.disc li {
  list-style-type: disc;
}
ul.circle li {
  list-style-type: circle;
  list-style-position: inside;
}
ul.square li {
  list-style-type: square;
}
h1,
h2 {
  text-align: center;
}
ol.decimal li {
  list-style-type: decimal;
}
ol.roman li {
  list-style-type: upper-roman;
  list-style-position: inside;
}
ol.greek li {
  list-style-type: lower-greek;
}
ul.imagenes li {
  list-style-image: url("../imgs/pokeball.gif");
/* Forma Corta*/
}
ul.imagenes li {
  list-style: decimal outside url("../imgs/pokeball.gif");
}
