//- 07_herencia.jade
extends ./layout.jade

block title
  title Titulo de Articulo
block content
  h1 Mi Articulo
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci deleniti similique ipsum! Nihil officia iusto non similique voluptatibus? Porro error fuga maiores nulla sed. Qui delectus nulla in hic.
