doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Texto Sin Formato
  body
      | Plain text can include <strong>html</strong>
      p
        | It must always be on its own line
        
      hr
      p Plain text can include <strong>html</strong>
      
      hr
      script.
        if (usingJade)
          console.log('you are awesome')
        else
          console.log('use jade')
     