doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Etiquetas
  body
   ul
     li Item A
     li Item B
     li Item C
     
   hr
   img
   
   hr
   a: img
   
   hr
   foo/
   foo(bar='baz')/