body {
  background-color: #00fad4;
}
nav {
  margin: 20px auto;
  padding: 20px;
  width: 900px;
  border: 1px solid #fb0774;
}
li {
  background: #7a6190 url("../imgs/instagram.jpg") no-repeat center top;
  background-size: 60%;
  color: #a6fc01;
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 10px;
  text-align: center;
  transition: all 1.5s ease-out;
  margin-top: 154px;
  padding: 10px;
  transition: all 0.5s ease-in;
}
li span {
  background-color: rgba(0,0,0,0.5);
  font-size: 1.4em;
  display: block;
}
li:hover {
  background-color: #fb06d6;
  background-position: center bottom;
}
li:hover span {
  transform: translateY(-150px);
}
