section {
  background-color: #fe03cc;
  height: 500px;
  width: 650px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
}
nav {
  background-color: #a704fc;
  height: 80px;
  margin: 0px auto;
  border-radius: 5px;
}
nav li {
  background-color: #07f8de;
  display: inline-block;
  text-align: center;
  height: 80px;
  width: 110px;
  margin-left: 40px;
  border-radius: 5px;
  border-radius: 20% 80% 20% 80%;
  transition: all 1s;
}
nav li:hover {
  transition: all 1s;
  border-radius: 80% 20% 80% 20%;
}
a {
  text-decoration: none;
}
a span {
  font-family: Comic Sans MS;
  display: block;
  text-align: center;
  background-color: #0bf7f4;
  position: relative;
  top: 52px;
  border-radius: 80% 20% 80% 20%;
  transition: all 1s;
}
span:hover {
  transition: all 1s;
  top: 0px;
  left: 20px;
}
li:hover {
  background-color: #05fb73;
  transition: all 1s;
}
li:hover span {
  transition: all 1s;
  transform: translate(-50px);
}
article {
  height: 400px;
  width: 500px;
  background-color: #2339dd;
  margin: 20px auto;
  border-radius: 80% 20% 80% 20%;
  transition: all 1s;
}
article:hover {
  transition: all 1s;
  background-color: #4176ce;
}
article div {
  background: #03f4fd url("../imgs/minion1.jpg") no-repeat center top;
  height: 300px;
  width: 300px;
  border-radius: 80% 20% 80% 20%;
  position: relative;
  left: 100px;
  top: 50px;
  background-size: contain;
  transition: all 1s ease-out;
}
article div:hover {
  -webkit-transform: rotate(180deg) scale(1);
  transition: all 1s ease-out;
  background-color: #1ee3ae;
}
