body,
html {
  background-color: #6dc0eb;
  background-image: linear-gradient(to right, rgba(0,0,0,0.05) 50%, transparent 0);
  background-size: 120px 100%;
  background-position: center center;
}
body {
  font: 16px Fantasy;
  color: #aaebff;
}
main {
  margin: 100px auto;
  text-align: center;
  width: 800px;
}
main h1 {
  font-size: 4em;
  text-shadow: 0px 2px 10px #3b6e87;
}
main section#animacion {
  box-shadow: 0px 2px 10px #3b6e87;
  height: 480px;
  width: 480px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 90% 50% 20% 40%;
}
main section#animacion div {
  background-position: center center;
  background-repeat: repeat-x;
  position: absolute;
  height: 480px;
  width: 1280px;
}
main section#animacion div.cielo {
  animation: 12s animParallax linear infinite;
  background-image: url("../imgs/parallax1/cielo.png");
  z-index: 1;
}
main section#animacion div.carretera {
  animation: 4s animParallax linear infinite;
  background-image: url("../imgs/parallax1/carretera.png");
  z-index: 2;
}
main section#animacion div.montanas {
  animation: 8s animParallax linear infinite;
  background-image: url("../imgs/parallax1/montanas.png");
  z-index: 3;
}
main section#animacion div.personaje {
  background-image: url("../imgs/parallax1/personaje.gif");
  background-position: center 280px;
  background-repeat: no-repeat;
  width: 640px;
  z-index: 4;
  transition: all 0.5s;
  position: relative;
}
main section#animacion div.personaje:hover {
  background-position: center 240px;
}
@-moz-keyframes animParallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@-webkit-keyframes animParallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@-o-keyframes animParallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
@keyframes animParallax {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1280px 0px;
  }
}
