article.inicio {
  width: 1200px;
  height: 1150px;
  background-color: #04eaff;
  margin-left: 100px;
}
div.img {
  background: url("../imgs/dog.jpg") no-repeat center center;
  width: 1000px;
  height: 400px;
  margin: 0px auto;
  background-color: #fe06e4;
  border: 5px dotted #07fe13;
}
section {
  width: 1000px;
  height: 700px;
  background-color: #c104ff;
  margin: 0px auto;
  margin-top: 5px;
  border: 5px dotted #07fe13;
}
article {
  width: 250px;
  height: 200px;
  background-color: #030303;
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 5px;
  vertical-align: top;
}
article div.img1 {
  background: url("../imgs/img1.jpg");
  background-size: contain;
  width: 250px;
  height: 100px;
}
article p {
  font-family: Fantasy;
  font-size: 10px;
  color: #04fdee;
  text-align: center;
}
@media (max-width: 900px) {
  section {
    width: 700px;
    height: 1100px;
  }
  article.inicio {
    height: 1500;
  }
  div.img {
    width: 600;
    height: 200px;
    background-size: contain;
  }
}
