

/*funcion*/
sum(x, y)
	x + y
/*funcion con parametro opcional*/
margintb(w, u = 3)
	     w / u

section 	
	background-color #06ACF9
	width sum(100px, 200px)
	margin 	margintb(@width) auto
	height @width
	