/*Selectores Hijos */
article > p
  color purple
  font-family fantasy
/*S eleciones Adyacentes */
a + p
  color red
   
/* Selector de Atributo */
a[class=link]
   color green
   text-decoration overline
a + p + a
  color aqua
 