section
  margin 20px auto
  width 100%
article
  text-align center
div
  background-color silver
  display inline-block
  height 150px
  margin 0px 0px -4px -4px
  width 180px
  font-size 3em
 .maroon
 	background-color maroon
 	color white
 .red
 	background-color red
 .orange
 	background-color orange
 .yellow
 	background-color yellow
 .olive
 	background-color olive
 	color white
 .purple
 	background-color purple
 	color white
 .fuchsia
 	background-color fuchsia
 .white
 	background-color white
 .lime
 	background-color lime
 .green
 	background-color green
 	color white
 .navy
 	background-color navy
 	color white
 .blue
 	background-color blue
 .aqua
 	background-color aqua
 .teal 
 	background-color teal
 	color white
 .black	
 	background-color black
 	color white
 .silver
 	background-color silver
 .gray
 	background-color gray	
 	color white