*
section
  font 20px fantasy
  padding 0px auto
  margin-left -10px
  text-align center
  height 80px
  
 
.box1
  display inline-block
  background-color maroon
  width 80px
.box2
  display inline-block
  background-color red
  width 80px
.box3
  display inline-block
  background-color orange
  width 80px
.box4
  display inline-block
  background-color yellow
  width 80px
.box5
  display inline-block
  background-color olive
  width 80px
.box6
   display inline-block
   background-color purple
   width 80px
 .box7
    display inline-block
    background-color fuchsia
    width 80px
 .box8
    display inline-block
    background-color white
    width 80px
 .box9
    display inline-block
    background-color lime
    width 80px
 .box10
    display inline-block
    background-color green 
    width 80px
 .box11
    display inline-block
    background-color navy
    width 80px
    color white
 .box12
   display inline-block
   background-color blue
   width 80px
   color white
 .box13
    display inline-block
    background-color aqua
    width 80px
 .box14
    display inline-block
    background-color teal
    width 80px
 .box15
    display inline-block
    background-color black
    width 80px
    color white
 .box16
    display inline-block
    background-color silver
    width 80px
 .box17
    display inline-block
    background-color gray
    width 80px