section
  margin 20px auto
  width 100%

article
  text-align center
  font 9px fantasy

h1 
   texte-align center
   font 20px fantasy
   margin 20px auto
   height 160px
   width 190px
   font-size 3em
   background-color purple

div
  background-color silver
  display inline-block
  height 150px
  width 180px
  margin 0px 0px -4px -4px
  font-size 3em
 
 .maroon
  background-color hsl(0, 100%, 25%)
  color white
 .red
  background-color hsl(0, 100%, 50%)
 .orange
  background-color hsl(39, 100%, 50%)
 .yellow
  background-color hsl(60, 100%, 50%)
 .olive
  background-color hsl(60, 100%, 25%)
  color white
 .purple
  background-color hsl(300, 100%, 25%)
  color white
 .fuchsia
  background-color hsl(300, 100%, 50%)
 .white
  background-color hsl(0, 0%, 100%)
 .lime
  background-color hsl(120, 100%, 50%)
 .green
  background-color hsl(120, 100%, 25%)
  color white
 .navy
  background-color hsl(120, 100%, 50%)
  color white
 .blue
  background-color hsl(240, 100%, 50%)
 .aqua
  background-color hsl(180, 100%, 50%)
 .teal 
  background-color hsl(180, 100%, 25%)
  color white
 .black 
  background-color hsl(0, 0%, 0%)
  color white
 .silver
  background-color hsl(0, 0%, 75%)
 .gray
  background-color hsl(0, 0%, 50%)
  color white