body
  font 3em fantasy
h1
  text-align center
section
  text-align center
  font fantasy
.margin
  background-color #993399
  margin 0px auto
  width 800px
  height 600px
.border
  background-color #99ff33
  margin 0px auto
  width 700px
  height 500px
.padding
  background-color #ff0066
  margin 0px auto
  width 600px
  height 400px
.content
  background-color #00ffff
  margin 0px auto
  width 500px
  height 300px
