section
	background-color #FC00A0
	border 4px dotted #04D2FE
	height 400px
	width 600px
section div.box
	background-color #04FE10
	height 100px
	width 200px
	/*Margenes: Forma Larga*/
	margin-top 100px
	margin-rigth 130px
	margin-bottom 200px
	margin-left 250px
	/*Margenes: Forma Corta*/
	margin 100px 130px 200px 250px
