article
	border-color #0DF6C2
	border-style solid
	height 250px
	width 350px
article.box1
	
	/* Ancho de Bordes - Forma Larga*/
	border-top-width thin
	border-right-width 20px
	border-bottom-width  thick
	border-left-width medium
	/* Ancho de Bordes - Forma Corta */
	border-width thin 20px thick medium
article.box2
	/* Colores de Bordes - Forma larga */
	border-top-width    #18FC00
	border-right-width  #DB07F4
	border-bottom-width #E9FE03
	border-left-width   #085CF6
	/* Colores de Bordes - Forma Corta */
	border-color #18FC00 #DB07F4 #E9FE03 #085CF6
article.box3
	/* Estilos Bordes - Forma larga */
	border-top-style 	solid
	border-right-style 	dotted
	border-bottom-style dashed
	border-left-style 	double
	/* Estilos Bordes - Forma Corto */
	border-style solid dotted dashed double 
article.box4
	/*Bordes - shorthand */
	border 10px dotted #5E2598