main
	margin 0px auto
	width 800px
section 
	color #051CFA
    border: 2px solid #08FAD5
 	vertical-align top
    text-align justify
    display inline-block

 	
	
section.box1 p
	margin-left 40px
	height 200px
	width 200px
	overflow visible 
	
	