body
	font 16 Showcard Gothic
	
section
	border 2px solid black 
	color #FC008E
	height 150px
	font-size 5em
	width 300px
	position relative
section.box1
	background-color #5D0288
	color #05F9F0
	z-index 1
section.box2
	background-color #9807C2
	color #0EBCC7
	top -100px
	left 150px
	z-index 2
section.box3
	background-color #B062E6
	color #168F8B
	top -150px
	left 250px
	z-index 3
