p
	font 18px Fantasy
	color #9E11E7
section 
	display inline-block
	height 420px
	background-color #0BE2F5
	width 750px
	padding 5px
section div
	display inline-block
	width 242px
	height 350px
	border 2px solid
	vertical-align top
div.w1 p
	
	line-height 1.2em 
	background-color #FB1989
	
div.w2 p
	
	line-height 1.5em
	background-color #DF05ED
	
div.w3 p
	
	line-height 2em
	background-color #19E94F
	
